<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to t('shared.common.name'), root_path, class: 'navbar-brand' %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to t('.link1'), "/path1"  %></li>
        <li><%= link_to t('.link2'), "/path2"  %></li>
        <li><%= link_to t('.about'), about_path  %></li>
        <li class='language-switcher-container'>
          <ul class='language-switcher'>
            <% I18n.available_locales.each do |locale| %>
              <li class='language-switcher-item <%= "is-active" if I18n.locale == locale %>'>
                <%=
                if I18n.locale == locale
                  link_to t("shared.locale.short.#{locale}"), url_for(locale: locale), class: 'language-switcher-item-link is-active'
                else
                  link_to t("shared.locale.short.#{locale}"), url_for(locale: locale), class: 'language-switcher-item-link'
                end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
